.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner
            nav.mobile-nav-menu
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#why-section" data-scroll) Навіщо це тобі
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#fail-section" data-scroll) Для кого
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#get-section" data-scroll) Як отримати
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#programs-section" data-scroll) Програми
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#feedback-section" data-scroll) Відгуки
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#founder-section" data-scroll) Хто тренує

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#faq-section" data-scroll) Faq

            address.social.mobile-nav__social
                ul.social__list
                    li.social__item
                        a.social__link(href="#" aria-label="Telegram")
                            svg.social__icon(width="19" height="17")
                                use(xlink:href="img/sprite.svg#telegram")

                    li.social__item
                        a.social__link(href="#" aria-label="Facebook")
                            svg.social__icon(width="12" height="23")
                                use(xlink:href="img/sprite.svg#facebook")

                    li.social__item
                        a.social__link(href="#" aria-label="Instagram")
                            svg.social__icon(width="20" height="20")
                                use(xlink:href="img/sprite.svg#instagram")
