section.fail-section#fail-section
    picture.fail-section__bg
        source(srcset="img/fail-bg-mobile@2x.webp 2x, img/fail-bg-mobile.webp" width="320" height="877" media="(max-width: 575.98px)")
        img.fail-section__bg-img(src="img/fail-bg.webp" srcset="img/fail-bg@2x.webp 2x" loading="lazy" width="1920" height="877" alt="alt")

    picture.fail-section__bg-left
        img.fail-section__bg-left-img(src="img/logo-bg-left.webp" srcset="img/logo-bg-left@2x.webp 2x" loading="lazy" width="227" height="761" alt="alt")

    .container.fail-section__container
        header.section-header.fail-section__header
            h2.section-header__bg-title.animation-down Головні болі
            h3.section-header__title.animation-down(data-delay="0.2") Впізнаєш себе?

        ul.arrow-list.fail-section__arrow-list
            li.arrow-list__item.animation-left(data-delay="0.2")
                span.gold-color Пробували різні підходи
                | , але результат не вражає?

            li.arrow-list__item.animation-left(data-delay="0.2")
                span.gold-color Солодке та жирне
                |  – перешкоджає зміни твого життя

            li.arrow-list__item.animation-left(data-delay="0.2")
                span.gold-color Правильне харчування
                |  обов'язково дороге і довго

            li.arrow-list__item.animation-left(data-delay="0.2")
                span.gold-color Не віриш ні у що
                | , нічого не допомогає повернути надію на зміни

            li.arrow-list__item.animation-left(data-delay="0.2")
                span.gold-color Не подобається
                |  одяг та форма свого тіла

            li.arrow-list__item.animation-left(data-delay="0.2")
                span.gold-color Не знаходишь
                |  жодної підтримки, на яку ти заслуговуєш

            li.arrow-list__item.animation-left(data-delay="0.2")
                span.gold-color Тренування
                |  дуже виснажливі та безрезультативні

        picture.fail-section__picture
            img.fail-section__picture-img(src="img/fail-img.webp" srcset="img/fail-img@2x.webp 2x" loading="lazy" width="640" height="877" alt="alt")

        .fail-section__buttons.animation-down(data-delay="0.2")
            a.button.fail-section__button(href="#programs-section" data-scroll) Хочу на тренування
