section.faq-section#faq-section
    .container.faq-section__container
        header.section-header.faq-section__header
            h2.section-header__bg-title.animation-down питання
            h3.section-header__title.animation-down(data-delay="0.2") FAQ

        .accordion
            ul.accordion__list
                li.accordion__item.animation-down(data-delay="0.2")
                    .accordion__panel
                        h3.accordion__header#accordion-header-1
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-1") Вважається, що найкращий спосіб швидко скинути вагу – це біг. Чи так це? Чим ви поясните небувалу популярність бігу?
                                <svg class="accordion__icon" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0709 6.76756L8.70691 13.1315C8.31639 13.522 7.68323 13.522 7.2927 13.1315L0.92874 6.76756C0.538216 6.37703 0.538216 5.74387 0.92874 5.35334C1.31926 4.96282 1.95243 4.96282 2.34295 5.35334L6.99981 10.0102L6.99981 -3.94882e-07L8.99981 -3.00457e-07L8.99981 10.0102L13.6567 5.35334C14.0472 4.96282 14.6804 4.96282 15.0709 5.35334C15.4614 5.74387 15.4614 6.37703 15.0709 6.76756Z" fill="url(#paint0_linear_500_781)" style=""/>
                                    <defs>
                                    <linearGradient id="paint0_linear_500_781" x1="8.99981" y1="0.207074" x2="9.55038" y2="12.7485" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                    <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                    <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                    </linearGradient>
                                    </defs>
                                </svg>

                        .accordion__content#accordion-content-1(role="region" aria-labelledby="accordion-header-1" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Це не зовсім так, тому що будь-яке навантаження та фізична активність допомагає скинути вагу. А біг популярніший лише тому, що є найдоступнішим способом підтримки себе у формі — вам не потрібен інвентар та особливе екіпірування.

                li.accordion__item.animation-down(data-delay="0.2")
                    .accordion__panel
                        h3.accordion__header#accordion-header-2
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-2") Для схуднення потрібно витрачати більше, ніж споживаєш. Але деякі, навіть дотримуючись цього правила, не втрачають вагу. Чому?
                                <svg class="accordion__icon" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0709 6.76756L8.70691 13.1315C8.31639 13.522 7.68323 13.522 7.2927 13.1315L0.92874 6.76756C0.538216 6.37703 0.538216 5.74387 0.92874 5.35334C1.31926 4.96282 1.95243 4.96282 2.34295 5.35334L6.99981 10.0102L6.99981 -3.94882e-07L8.99981 -3.00457e-07L8.99981 10.0102L13.6567 5.35334C14.0472 4.96282 14.6804 4.96282 15.0709 5.35334C15.4614 5.74387 15.4614 6.37703 15.0709 6.76756Z" fill="url(#paint0_linear_500_781)" style=""/>
                                    <defs>
                                    <linearGradient id="paint0_linear_500_781" x1="8.99981" y1="0.207074" x2="9.55038" y2="12.7485" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                    <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                    <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                    </linearGradient>
                                    </defs>
                                </svg>

                        .accordion__content#accordion-content-2(role="region" aria-labelledby="accordion-header-2" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Існують різні причини: стрес, поганий сон, неякісна їжа (за рахунок якої не може покращити метаболізм), а дуже часто буває так, що людина просто тренується не в тій пульсовій зоні. Тут важливо зрозуміти, що саме не працює у кожному конкретному випадку. Pro Trener — багаторічний досвід персонального тренінгу, у нас є власна авторська система Pro Trener System. Вона акумулювала наш досвід та передові наукові знання в галузі спорту, медицини та психології. Кожен тренер проходить навчання за цією системою та може скласти індивідуальний план для будь-якого клієнта. В даному випадку не обійтися без тестування на газоаналізаторі: він дає загальну картину стану здоров'я, дозволяє визначити пульсові зони, при яких відбувається жироспаление (цей тест особливо важливий, якщо ви намагаєтеся схуднути довго, але нерезультативно). По-друге, мотивація. Тренер складає програму занять так, щоб було цікаво, щоб заняття не перетворювалося на «насильство над собою» і при цьому опрацьовувало всі групи м'язів. Ну і, звичайно, особлива увага — на харчування, розібратися в якому допомагає тренер.

                li.accordion__item.animation-down(data-delay="0.2")
                    .accordion__panel
                        h3.accordion__header#accordion-header-3
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-3") Коли ефективніше займатися – вранці, вдень чи ввечері?
                                <svg class="accordion__icon" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0709 6.76756L8.70691 13.1315C8.31639 13.522 7.68323 13.522 7.2927 13.1315L0.92874 6.76756C0.538216 6.37703 0.538216 5.74387 0.92874 5.35334C1.31926 4.96282 1.95243 4.96282 2.34295 5.35334L6.99981 10.0102L6.99981 -3.94882e-07L8.99981 -3.00457e-07L8.99981 10.0102L13.6567 5.35334C14.0472 4.96282 14.6804 4.96282 15.0709 5.35334C15.4614 5.74387 15.4614 6.37703 15.0709 6.76756Z" fill="url(#paint0_linear_500_781)" style=""/>
                                    <defs>
                                    <linearGradient id="paint0_linear_500_781" x1="8.99981" y1="0.207074" x2="9.55038" y2="12.7485" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                    <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                    <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                    </linearGradient>
                                    </defs>
                                </svg>

                        .accordion__content#accordion-content-3(role="region" aria-labelledby="accordion-header-3" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Тут все дуже індивідуально та залежить від графіка. Але, по суті, потрібно займатися в той час доби, який вам найбільш комфортно.
                
                li.accordion__item.animation-down(data-delay="0.2")
                    .accordion__panel
                        h3.accordion__header#accordion-header-4
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-4") Кому легше скинути вагу — худому чи повному?
                                <svg class="accordion__icon" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0709 6.76756L8.70691 13.1315C8.31639 13.522 7.68323 13.522 7.2927 13.1315L0.92874 6.76756C0.538216 6.37703 0.538216 5.74387 0.92874 5.35334C1.31926 4.96282 1.95243 4.96282 2.34295 5.35334L6.99981 10.0102L6.99981 -3.94882e-07L8.99981 -3.00457e-07L8.99981 10.0102L13.6567 5.35334C14.0472 4.96282 14.6804 4.96282 15.0709 5.35334C15.4614 5.74387 15.4614 6.37703 15.0709 6.76756Z" fill="url(#paint0_linear_500_781)" style=""/>
                                    <defs>
                                    <linearGradient id="paint0_linear_500_781" x1="8.99981" y1="0.207074" x2="9.55038" y2="12.7485" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                    <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                    <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                    </linearGradient>
                                    </defs>
                                </svg>

                        .accordion__content#accordion-content-4(role="region" aria-labelledby="accordion-header-4" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Якщо велика вага, то він швидше йтиме. Точніше, може швидше йти при правильній тренувальній програмі. Відповідно, потім процес уповільнюється. Останні кілограми найгірше скидаються, оскільки тут найбільш трудомістка робота. Зрозуміло, ми зараз не говоримо про ті випадки, у яких зайва вага викликана якимись проблемами зі здоров'ям. Тут треба з'ясовувати причину на медичному рівні і потім приступати до занять.
                
                li.accordion__item.animation-down(data-delay="0.2")
                    .accordion__panel
                        h3.accordion__header#accordion-header-5
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-5") Назвіть 3 основні правила тих, хто переходить на ЗОЖ?
                                <svg class="accordion__icon" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0709 6.76756L8.70691 13.1315C8.31639 13.522 7.68323 13.522 7.2927 13.1315L0.92874 6.76756C0.538216 6.37703 0.538216 5.74387 0.92874 5.35334C1.31926 4.96282 1.95243 4.96282 2.34295 5.35334L6.99981 10.0102L6.99981 -3.94882e-07L8.99981 -3.00457e-07L8.99981 10.0102L13.6567 5.35334C14.0472 4.96282 14.6804 4.96282 15.0709 5.35334C15.4614 5.74387 15.4614 6.37703 15.0709 6.76756Z" fill="url(#paint0_linear_500_781)" style=""/>
                                    <defs>
                                    <linearGradient id="paint0_linear_500_781" x1="8.99981" y1="0.207074" x2="9.55038" y2="12.7485" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                    <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                    <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                    </linearGradient>
                                    </defs>
                                </svg>

                        .accordion__content#accordion-content-5(role="region" aria-labelledby="accordion-header-5" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Постійність тренувального процесу, дотримання збалансованого харчування та, нарешті, грамотне поєднання тренувань та харчування. Зі зростанням активності зростає і потреба в калоріях, тому важливо дотримуватися балансу білків, жирів та вуглеводів, щоб вистачило енергії на нові тренування та спалювання жиру, а не м'язів.