section.feedback-section#feedback-section
    .container.feedback-section__container
        header.section-header.section-header--black.feedback-section__header
            h2.section-header__bg-title.animation-down Про нас кажуть
            h3.section-header__title.animation-down(data-delay="0.2") Відгуки клієнтів

        .feedback-slider-wrap.animation-down(data-delay="0.2")
            .swiper.feedback-slider
                .swiper-wrapper
                    .swiper-slide.feedback-slider__slide
                        a.feedback-card(href="img/feedback-img@2x.webp" data-pswp-width="538" data-pswp-height="908" target="_blank")
                            picture.feedback-card__picture
                                img.feedback-card__img(src="img/feedback-img.webp" srcset="img/feedback-img@2x.webp 2x" loading="lazy" width="269" height="454" alt="alt")
                            h3.feedback-card__name Юрій Бовгун
                    
                    .swiper-slide.feedback-slider__slide
                        a.feedback-card(href="img/feedback-img@2x.webp" data-pswp-width="538" data-pswp-height="908" target="_blank")
                            picture.feedback-card__picture
                                img.feedback-card__img(src="img/feedback-img.webp" srcset="img/feedback-img@2x.webp 2x" loading="lazy" width="269" height="454" alt="alt")
                            h3.feedback-card__name Юрій Бовгун
                    
                    .swiper-slide.feedback-slider__slide
                        a.feedback-card(href="img/feedback-img@2x.webp" data-pswp-width="538" data-pswp-height="908" target="_blank")
                            picture.feedback-card__picture
                                img.feedback-card__img(src="img/feedback-img.webp" srcset="img/feedback-img@2x.webp 2x" loading="lazy" width="269" height="454" alt="alt")
                            h3.feedback-card__name Юрій Бовгун
                    
                    .swiper-slide.feedback-slider__slide
                        a.feedback-card(href="img/feedback-img@2x.webp" data-pswp-width="538" data-pswp-height="908" target="_blank")
                            picture.feedback-card__picture
                                img.feedback-card__img(src="img/feedback-img.webp" srcset="img/feedback-img@2x.webp 2x" loading="lazy" width="269" height="454" alt="alt")
                            h3.feedback-card__name Юрій Бовгун
                    
                    .swiper-slide.feedback-slider__slide
                        a.feedback-card(href="img/feedback-img@2x.webp" data-pswp-width="538" data-pswp-height="908" target="_blank")
                            picture.feedback-card__picture
                                img.feedback-card__img(src="img/feedback-img.webp" srcset="img/feedback-img@2x.webp 2x" loading="lazy" width="269" height="454" alt="alt")
                            h3.feedback-card__name Юрій Бовгун
                    
                    .swiper-slide.feedback-slider__slide
                        a.feedback-card(href="img/feedback-img@2x.webp" data-pswp-width="538" data-pswp-height="908" target="_blank")
                            picture.feedback-card__picture
                                img.feedback-card__img(src="img/feedback-img.webp" srcset="img/feedback-img@2x.webp 2x" loading="lazy" width="269" height="454" alt="alt")
                            h3.feedback-card__name Юрій Бовгун
                    
                    .swiper-slide.feedback-slider__slide
                        a.feedback-card(href="img/feedback-img@2x.webp" data-pswp-width="538" data-pswp-height="908" target="_blank")
                            picture.feedback-card__picture
                                img.feedback-card__img(src="img/feedback-img.webp" srcset="img/feedback-img@2x.webp 2x" loading="lazy" width="269" height="454" alt="alt")
                            h3.feedback-card__name Юрій Бовгун

                    .swiper-slide.feedback-slider__slide
                        a.feedback-card(href="img/feedback-img@2x.webp" data-pswp-width="538" data-pswp-height="908" target="_blank")
                            picture.feedback-card__picture
                                img.feedback-card__img(src="img/feedback-img.webp" srcset="img/feedback-img@2x.webp 2x" loading="lazy" width="269" height="454" alt="alt")
                            h3.feedback-card__name Юрій Бовгун

                .swiper-pagination.feedback-slider__pagination
            
            button.feedback-slider__prev(type="button" aria-label="previous slide")
                <svg class="feedback-slider__prev-icon" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.49026 0.602952L1.1263 6.96691C0.735771 7.35744 0.735771 7.9906 1.1263 8.38113L7.49026 14.7451C7.88078 15.1356 8.51395 15.1356 8.90447 14.7451C9.29499 14.3546 9.29499 13.7214 8.90447 13.3309L4.24762 8.67402L14.2578 8.67402L14.2578 6.67402L4.24762 6.67402L8.90447 2.01717C9.29499 1.62664 9.29499 0.993476 8.90447 0.602952C8.51395 0.212427 7.88078 0.212427 7.49026 0.602952Z" fill="url(#paint0_linear_482_768)" style=""/>
                    <defs>
                    <linearGradient id="paint0_linear_482_768" x1="14.0507" y1="6.67403" x2="1.50927" y2="6.12347" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                    <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                    <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                    </linearGradient>
                    </defs>
                </svg>

            button.feedback-slider__next(type="button" aria-label="next slide")
                <svg class="feedback-slider__next-icon" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.59763 1.25578L13.9616 7.61974C14.3521 8.01027 14.3521 8.64343 13.9616 9.03396L7.59763 15.3979C7.20711 15.7884 6.57394 15.7884 6.18342 15.3979C5.7929 15.0074 5.7929 14.3742 6.18342 13.9837L10.8403 9.32685L0.830078 9.32685L0.830078 7.32685L10.8403 7.32685L6.18342 2.67C5.7929 2.27947 5.7929 1.64631 6.18342 1.25578C6.57394 0.865259 7.20711 0.865259 7.59763 1.25578Z" fill="url(#paint0_linear_482_770)" style=""/>
                    <defs>
                    <linearGradient id="paint0_linear_482_770" x1="1.03715" y1="7.32686" x2="13.5786" y2="6.7763" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                    <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                    <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                    </linearGradient>
                    </defs>
                </svg>

