section.founder-section#founder-section
    picture.founder-section__bg
        source(srcset="img/founder-bg-mobile@2x.webp 2x, img/founder-bg-mobile.webp" width="320" height="378" media="(max-width: 575.98px)")
        img.founder-section__bg-img(src="img/founder-bg.webp" srcset="img/founder-bg@2x.webp 2x" loading="lazy" width="1920" height="877" alt="alt")

    picture.founder-section__bg-left
        img.founder-section__bg-left-img(src="img/logo-bg-left.webp" srcset="img/logo-bg-left@2x.webp 2x" loading="lazy" width="227" height="761" alt="alt")

    picture.founder-section__bg-right
        img.founder-section__bg-right-img(src="img/paper-bg-right.webp" srcset="img/paper-bg-right@2x.webp 2x" loading="lazy" width="398" height="504" alt="alt")

    .container.founder-section__container
        header.section-header.founder-section__header
            h2.section-header__bg-title.animation-down Хто тренує
            h3.section-header__title.animation-down(data-delay="0.2") Засновник проекту - 
                span.gold-color Вадим Довганюк 
                span.gold-color.br 12 разовий чемпіон світу

            .animation-down(data-delay="0.2")
                a.gold-link.section-header__link(href="https://wikipedia.org/wiki/Vadym_Dovhanyuk" target="_blank") wikipedia.org/wiki/Vadym_Dovhanyuk

        ul.founder-section__list
            li.founder-section__item
                .founder-card.animation-down(data-delay="0.2")
                    p Довганюк Вадим Володимирович. Народився 15 січня 1987 року в м. Волочиськ, Хмельницька обл., Україна. В родинні Вадима не було спортсменів, але це не завадило йому стати найсильнішим пауерліфтером планети. Спортсмен з України виступаючий в пауерліфтингу. Вагова категорія 105 кг.
                
                .founder-card.animation-down(data-delay="0.2")
                    p Спортивна кар'єра: почав займатись пауерліфтингом в 15 років в невеличкому спортзалі який належить Волочиському Машинобудівному заводу АТ "Мотор Січ". Завдяки АТ "Мотор Січ" в 2004 році Вадим поїхав на перший Чемпіонат Світу який проходив в ПАР м. Преторія та перший раз став Чемпіоном Світу. Після цих змагань було ще 10 чемпіонатів Світу на яких Вадим стояв на найвищій сходинці п'єдисталу.
            
            li.founder-section__item
                .founder-card.founder-card--right.animation-down(data-delay="0.2")
                    p В 17 років виконав норматив майстра спорту України. В 19 років виконав норматив майстра спорту України міжнародного класу. В 2011 році був в головному складі збірної команди України. В 2012 році на чемпіонаті Світу в Пуерто Ріко отримав ліцензію на участь у найбільш кваліфікованих змаганнях з Пауерліфтингу (Всесвітні Ігри) які проходили в Колумбії в 2013 році на яких Вадим став Чемпіоном та встановив 2 рекорди світу з жиму лежачи.
            
                .founder-card.founder-card--right.animation-down(data-delay="0.2")
                    p Після цієї перемоги в 2013 роців отримав найвище спортивне звання Заслужений майстер спорту України та державну нагороду (Орден за заслуги ІІІ ст) .Нагороди- орден за заслуги 3 ступеня (14 вересня 2013 року). Чемпіон світу серед юнаків 2004, 2006, 2007 років, серед юніорів 2009, 2010 років, серед дорослих 2013, 2014, 2015 років. 36 діючих рекорда світу. Чемпіон Всесвітніх ігор в Колумбії 2013 року.
        
        .swiper.founder-slider.animation-down(data-delay="0.2")
            .swiper-wrapper
                .swiper-slide.founder-slider__slide
                    .founder-card
                        p Довганюк Вадим Володимирович. Народився 15 січня 1987 року в м. Волочиськ, Хмельницька обл., Україна. В родинні Вадима не було спортсменів, але це не завадило йому стати найсильнішим пауерліфтером планети. Спортсмен з України виступаючий в пауерліфтингу. Вагова категорія 105 кг.
                
                .swiper-slide.founder-slider__slide
                    .founder-card
                        p Спортивна кар'єра: почав займатись пауерліфтингом в 15 років в невеличкому спортзалі який належить Волочиському Машинобудівному заводу АТ "Мотор Січ". Завдяки АТ "Мотор Січ" в 2004 році Вадим поїхав на перший Чемпіонат Світу який проходив в ПАР м. Преторія та перший раз став Чемпіоном Світу. Після цих змагань було ще 10 чемпіонатів Світу на яких Вадим стояв на найвищій сходинці п'єдисталу.

                .swiper-slide.founder-slider__slide
                    .founder-card
                        p В 17 років виконав норматив майстра спорту України. В 19 років виконав норматив майстра спорту України міжнародного класу. В 2011 році був в головному складі збірної команди України. В 2012 році на чемпіонаті Світу в Пуерто Ріко отримав ліцензію на участь у найбільш кваліфікованих змаганнях з Пауерліфтингу (Всесвітні Ігри) які проходили в Колумбії в 2013 році на яких Вадим став Чемпіоном та встановив 2 рекорди світу з жиму лежачи.

                .swiper-slide.founder-slider__slide
                    .founder-card
                        p Після цієї перемоги в 2013 роців отримав найвище спортивне звання Заслужений майстер спорту України та державну нагороду (Орден за заслуги ІІІ ст) .Нагороди- орден за заслуги 3 ступеня (14 вересня 2013 року). Чемпіон світу серед юнаків 2004, 2006, 2007 років, серед юніорів 2009, 2010 років, серед дорослих 2013, 2014, 2015 років. 36 діючих рекорда світу. Чемпіон Всесвітніх ігор в Колумбії 2013 року.
            
            .swiper-pagination.founder-slider__pagination

        picture.founder-section__picture
            img.founder-section__img(src="img/founder-img.webp" srcset="img/founder-img@2x.webp 2x" loading="lazy" width="577" height="678" alt="alt")

        .unlock.animation-down(data-delay="0.2")
            header.section-header.section-header--black.unlock__header
                h2.section-header__bg-title.section-header__bg-title--small Розблокуй свої
                h3.section-header__title Можливості на максимум
                p.section-header__descr Не треба більше шукати, бігом на тренування!
            
            a.button.unlock__button(href="#programs-section" data-scroll) Хочу на тренування 
