section.get-section#get-section
    picture.get-section__bg-right
        img.get-section__bg-right-img(src="img/logo-bg-right.webp" srcset="img/logo-bg-right@2x.webp 2x" loading="lazy" width="227" height="761" alt="alt")

    .container.get-section__container
        header.section-header.get-section__header
            h2.section-header__bg-title.animation-down Як отримати
            h3.section-header__title.animation-down(data-delay="0.2") Як отримати програму?

        ul.get-section__list
            li.get-section__item.animation-down(data-delay="0.2")
                .get-card
                    .get-card__pic
                        .get-card__number 1
                        .get-card__step Крок

                    h4.get-card__title Оберіть варіант програму, яка допоможе вам досягти своїх цілей
            
            li.get-section__item.animation-down(data-delay="0.3")
                .get-card
                    .get-card__pic
                        .get-card__number 2
                        .get-card__step Крок

                    h4.get-card__title Сплатіть програму будь-яким зручним для вас способом

                    .payment.get-card__payment
                        ul.payment__list
                            li.payment__item
                                svg.payment__icon(width="15" height="17")
                                    use(xlink:href="img/sprite.svg#paypal")
                            
                            li.payment__item
                                svg.payment__icon(width="31" height="11")
                                    use(xlink:href="img/sprite.svg#visa")
                            
                            li.payment__item
                                svg.payment__icon(width="29" height="18")
                                    use(xlink:href="img/sprite.svg#mastercard")
                            
                            li.payment__item
                                svg.payment__icon(width="32" height="15")
                                    use(xlink:href="img/sprite.svg#apple-pay")

            li.get-section__item.animation-down(data-delay="0.4")
                .get-card
                    .get-card__pic
                        .get-card__number 3
                        .get-card__step Крок

                    h4.get-card__title Після оплати обраної програми, я зв'яжуся з вами та надам усі доступи
            