section.programs-section#programs-section
    picture.programs-section__bg
        img.programs-section__bg-img(src="img/programs-bg.webp" srcset="img/programs-bg@2x.webp 2x" loading="lazy" width="1920" height="747" alt="alt")

    picture.programs-section__bg-left
        img.programs-section__bg-left-img(src="img/paper-bg-left.webp" srcset="img/paper-bg-left@2x.webp 2x" loading="lazy" width="398" height="504" alt="alt")

    .container.programs-section__container
        header.section-header.programs-section__header
            h2.section-header__bg-title.section-header__bg-title--small.animation-down Програми тренування
            h3.section-header__title.animation-down(data-delay="0.2") Програми тренування

        .tabs.programs-section__tabs.animation-down(data-tabs="tabs-1" data-active="0" data-delay="0.2")
            ul.tabs__nav
                li.tabs__nav-item
                    button.button.button--outline.tabs__nav-btn(type="button") Загальна
                li.tabs__nav-item
                    button.button.button--outline.tabs__nav-btn(type="button") Пауерліфтинг
        
        .tabs-content.programs-section__tabs-content.animation-down(data-tabs-content="tabs-1" data-delay="0.2")
            .tabs-panel
                .swiper.programs-slider
                    .swiper-wrapper
                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Срібний пакет програми для жиму лежачи
                                ul.program-card__list
                                    li.program-card__list-item Аналіз попередніх результатів
                                    li.program-card__list-item Рекомендація щодо дієти
                                    li.program-card__list-item Програма навчання на 8 тижнів
                                    li.program-card__list-item Питання та відповіді з чемпіоном

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 75$

                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 1.3335V2.3735C10.9666 2.54016 11.84 3.6135 11.9733 5.20683C11.9933 5.3935 11.8333 5.56016 11.64 5.56016H0.35999C0.173323 5.56016 0.0133234 5.40016 0.0266567 5.20683C0.15999 3.6135 1.03332 2.54016 2.83332 2.3735V1.3335C2.83332 1.06016 3.05999 0.833496 3.33332 0.833496C3.60666 0.833496 3.83332 1.06016 3.83332 1.3335V2.3335H8.16664V1.3335C8.16664 1.06016 8.3933 0.833496 8.66664 0.833496C8.93997 0.833496 9.16664 1.06016 9.16664 1.3335ZM0.666667 6.56006H11.3333C11.7 6.56006 12 6.86007 12 7.22673V11.3334C12 13.3334 11 14.6667 8.66667 14.6667H3.33333C1 14.6667 0 13.3334 0 11.3334V7.22673C0 6.86007 0.3 6.56006 0.666667 6.56006ZM4.10667 12.1682C4.11778 12.1586 4.12889 12.149 4.14 12.1401C4.26 12.0134 4.33333 11.8401 4.33333 11.6667C4.33333 11.4934 4.26 11.3201 4.14 11.1934L4.04 11.1134C4 11.0867 3.96 11.0667 3.92 11.0534C3.88 11.0334 3.84 11.0201 3.8 11.0134C3.66667 10.9867 3.53333 11.0001 3.41333 11.0534C3.32667 11.0867 3.26 11.1334 3.19333 11.1934C3.07333 11.3201 3 11.4934 3 11.6667C3 11.8401 3.07333 12.0134 3.19333 12.1401C3.26 12.2001 3.32667 12.2467 3.41333 12.2801C3.49333 12.3134 3.58 12.3334 3.66667 12.3334C3.70808 12.3334 3.74425 12.3281 3.78448 12.3223C3.78958 12.3216 3.79475 12.3208 3.8 12.3201C3.84 12.3134 3.88 12.3001 3.92 12.2801C3.96 12.2667 4 12.2467 4.04 12.2201C4.06222 12.2067 4.08445 12.1875 4.10667 12.1682ZM3.66667 10.0001C3.84 10.0001 4.01333 9.92673 4.14 9.80673C4.26 9.68007 4.33333 9.50673 4.33333 9.3334C4.33333 9.16007 4.26 8.98673 4.14 8.86007C4.08 8.80007 4.00667 8.7534 3.92 8.72007C3.67333 8.6134 3.38 8.6734 3.19333 8.86007C3.07333 8.98673 3 9.16007 3 9.3334C3 9.50673 3.07333 9.68007 3.19333 9.80673C3.32 9.92673 3.49333 10.0001 3.66667 10.0001ZM6 12.3334C6.17333 12.3334 6.34667 12.2601 6.47333 12.1401C6.59333 12.0134 6.66667 11.8401 6.66667 11.6667C6.66667 11.4934 6.59333 11.3201 6.47333 11.1934C6.22667 10.9467 5.77333 10.9467 5.52667 11.1934C5.40667 11.3201 5.33333 11.4934 5.33333 11.6667C5.33333 11.8401 5.40667 12.0134 5.52667 12.1401C5.65333 12.2601 5.82667 12.3334 6 12.3334ZM6.37333 9.88673L6.47333 9.80673C6.59333 9.68007 6.66667 9.50673 6.66667 9.3334C6.66667 9.16007 6.59333 8.98673 6.47333 8.86007C6.28667 8.6734 5.99333 8.6134 5.74667 8.72007C5.66 8.7534 5.58667 8.80007 5.52667 8.86007C5.40667 8.98673 5.33333 9.16007 5.33333 9.3334C5.33333 9.50673 5.40667 9.68007 5.52667 9.80673C5.65333 9.92673 5.82667 10.0001 6 10.0001C6.04141 10.0001 6.07757 9.99482 6.1178 9.98897C6.12291 9.98823 6.12808 9.98748 6.13333 9.98673C6.17333 9.98007 6.21333 9.96673 6.25333 9.94673C6.29333 9.9334 6.33333 9.9134 6.37333 9.88673ZM8.33333 12.3334C8.50667 12.3334 8.68 12.2601 8.80667 12.1401C8.92667 12.0134 9 11.8401 9 11.6667C9 11.4934 8.92667 11.3201 8.80667 11.1934C8.56 10.9467 8.10667 10.9467 7.86 11.1934C7.74 11.3201 7.66667 11.4934 7.66667 11.6667C7.66667 11.8401 7.74 12.0134 7.86 12.1401C7.98667 12.2601 8.16 12.3334 8.33333 12.3334ZM8.70667 9.88673L8.80667 9.80673C8.92667 9.68007 9 9.50673 9 9.3334C9 9.16007 8.92667 8.98673 8.80667 8.86007L8.70667 8.78007C8.66667 8.7534 8.62667 8.7334 8.58667 8.72007C8.54667 8.70007 8.50667 8.68673 8.46667 8.68007C8.33333 8.6534 8.2 8.66673 8.08 8.72007C7.99333 8.7534 7.92667 8.80007 7.86 8.86007C7.74 8.98673 7.66667 9.16007 7.66667 9.3334C7.66667 9.50673 7.74 9.68007 7.86 9.80673C7.98667 9.92673 8.16 10.0001 8.33333 10.0001C8.37333 10.0001 8.41998 9.9934 8.46664 9.98674L8.46667 9.98673C8.50667 9.98007 8.54667 9.96673 8.58667 9.94673C8.62667 9.9334 8.66667 9.9134 8.70667 9.88673Z" fill="url(#paint0_linear_465_766)" style=""/>
                                                <defs>
                                                <linearGradient id="paint0_linear_465_766" x1="2.38428" y1="0.294538" x2="-4.67841" y2="8.99295" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 8 тижнів

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-1.webp" srcset="img/program-img-1@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати

                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Жим лежачи
                                ul.program-card__list.program-card__list--cols
                                    li.program-card__list-item Аналіз попередніх результатів
                                    li.program-card__list-item Рекомендація щодо дієти
                                    li.program-card__list-item 12 тижнева програма навчання
                                    li.program-card__list-item Програма спортивного харчування
                                    li.program-card__list-item Аналіз результатів
                                    li.program-card__list-item Питання та відповіді з чемпіоном

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 125$

                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 1.3335V2.3735C10.9666 2.54016 11.84 3.6135 11.9733 5.20683C11.9933 5.3935 11.8333 5.56016 11.64 5.56016H0.35999C0.173323 5.56016 0.0133234 5.40016 0.0266567 5.20683C0.15999 3.6135 1.03332 2.54016 2.83332 2.3735V1.3335C2.83332 1.06016 3.05999 0.833496 3.33332 0.833496C3.60666 0.833496 3.83332 1.06016 3.83332 1.3335V2.3335H8.16664V1.3335C8.16664 1.06016 8.3933 0.833496 8.66664 0.833496C8.93997 0.833496 9.16664 1.06016 9.16664 1.3335ZM0.666667 6.56006H11.3333C11.7 6.56006 12 6.86007 12 7.22673V11.3334C12 13.3334 11 14.6667 8.66667 14.6667H3.33333C1 14.6667 0 13.3334 0 11.3334V7.22673C0 6.86007 0.3 6.56006 0.666667 6.56006ZM4.10667 12.1682C4.11778 12.1586 4.12889 12.149 4.14 12.1401C4.26 12.0134 4.33333 11.8401 4.33333 11.6667C4.33333 11.4934 4.26 11.3201 4.14 11.1934L4.04 11.1134C4 11.0867 3.96 11.0667 3.92 11.0534C3.88 11.0334 3.84 11.0201 3.8 11.0134C3.66667 10.9867 3.53333 11.0001 3.41333 11.0534C3.32667 11.0867 3.26 11.1334 3.19333 11.1934C3.07333 11.3201 3 11.4934 3 11.6667C3 11.8401 3.07333 12.0134 3.19333 12.1401C3.26 12.2001 3.32667 12.2467 3.41333 12.2801C3.49333 12.3134 3.58 12.3334 3.66667 12.3334C3.70808 12.3334 3.74425 12.3281 3.78448 12.3223C3.78958 12.3216 3.79475 12.3208 3.8 12.3201C3.84 12.3134 3.88 12.3001 3.92 12.2801C3.96 12.2667 4 12.2467 4.04 12.2201C4.06222 12.2067 4.08445 12.1875 4.10667 12.1682ZM3.66667 10.0001C3.84 10.0001 4.01333 9.92673 4.14 9.80673C4.26 9.68007 4.33333 9.50673 4.33333 9.3334C4.33333 9.16007 4.26 8.98673 4.14 8.86007C4.08 8.80007 4.00667 8.7534 3.92 8.72007C3.67333 8.6134 3.38 8.6734 3.19333 8.86007C3.07333 8.98673 3 9.16007 3 9.3334C3 9.50673 3.07333 9.68007 3.19333 9.80673C3.32 9.92673 3.49333 10.0001 3.66667 10.0001ZM6 12.3334C6.17333 12.3334 6.34667 12.2601 6.47333 12.1401C6.59333 12.0134 6.66667 11.8401 6.66667 11.6667C6.66667 11.4934 6.59333 11.3201 6.47333 11.1934C6.22667 10.9467 5.77333 10.9467 5.52667 11.1934C5.40667 11.3201 5.33333 11.4934 5.33333 11.6667C5.33333 11.8401 5.40667 12.0134 5.52667 12.1401C5.65333 12.2601 5.82667 12.3334 6 12.3334ZM6.37333 9.88673L6.47333 9.80673C6.59333 9.68007 6.66667 9.50673 6.66667 9.3334C6.66667 9.16007 6.59333 8.98673 6.47333 8.86007C6.28667 8.6734 5.99333 8.6134 5.74667 8.72007C5.66 8.7534 5.58667 8.80007 5.52667 8.86007C5.40667 8.98673 5.33333 9.16007 5.33333 9.3334C5.33333 9.50673 5.40667 9.68007 5.52667 9.80673C5.65333 9.92673 5.82667 10.0001 6 10.0001C6.04141 10.0001 6.07757 9.99482 6.1178 9.98897C6.12291 9.98823 6.12808 9.98748 6.13333 9.98673C6.17333 9.98007 6.21333 9.96673 6.25333 9.94673C6.29333 9.9334 6.33333 9.9134 6.37333 9.88673ZM8.33333 12.3334C8.50667 12.3334 8.68 12.2601 8.80667 12.1401C8.92667 12.0134 9 11.8401 9 11.6667C9 11.4934 8.92667 11.3201 8.80667 11.1934C8.56 10.9467 8.10667 10.9467 7.86 11.1934C7.74 11.3201 7.66667 11.4934 7.66667 11.6667C7.66667 11.8401 7.74 12.0134 7.86 12.1401C7.98667 12.2601 8.16 12.3334 8.33333 12.3334ZM8.70667 9.88673L8.80667 9.80673C8.92667 9.68007 9 9.50673 9 9.3334C9 9.16007 8.92667 8.98673 8.80667 8.86007L8.70667 8.78007C8.66667 8.7534 8.62667 8.7334 8.58667 8.72007C8.54667 8.70007 8.50667 8.68673 8.46667 8.68007C8.33333 8.6534 8.2 8.66673 8.08 8.72007C7.99333 8.7534 7.92667 8.80007 7.86 8.86007C7.74 8.98673 7.66667 9.16007 7.66667 9.3334C7.66667 9.50673 7.74 9.68007 7.86 9.80673C7.98667 9.92673 8.16 10.0001 8.33333 10.0001C8.37333 10.0001 8.41998 9.9934 8.46664 9.98674L8.46667 9.98673C8.50667 9.98007 8.54667 9.96673 8.58667 9.94673C8.62667 9.9334 8.66667 9.9134 8.70667 9.88673Z" fill="url(#paint0_linear_465_766)" style=""/>
                                                <defs>
                                                <linearGradient id="paint0_linear_465_766" x1="2.38428" y1="0.294538" x2="-4.67841" y2="8.99295" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 12 тижнів

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-2.webp" srcset="img/program-img-2@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати

                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Повна підготовка до змагань за пауерліфтинговою програмою
                                ul.program-card__list.program-card__list--cols
                                    li.program-card__list-item Аналіз попередніх результатів
                                    li.program-card__list-item Рекомендація щодо дієти
                                    li.program-card__list-item 12 тижнева програма навчання
                                    li.program-card__list-item Програма спортивного харчування
                                    li.program-card__list-item Аналіз результатів
                                    li.program-card__list-item Питання та відповіді з чемпіоном

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 150$

                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 1.3335V2.3735C10.9666 2.54016 11.84 3.6135 11.9733 5.20683C11.9933 5.3935 11.8333 5.56016 11.64 5.56016H0.35999C0.173323 5.56016 0.0133234 5.40016 0.0266567 5.20683C0.15999 3.6135 1.03332 2.54016 2.83332 2.3735V1.3335C2.83332 1.06016 3.05999 0.833496 3.33332 0.833496C3.60666 0.833496 3.83332 1.06016 3.83332 1.3335V2.3335H8.16664V1.3335C8.16664 1.06016 8.3933 0.833496 8.66664 0.833496C8.93997 0.833496 9.16664 1.06016 9.16664 1.3335ZM0.666667 6.56006H11.3333C11.7 6.56006 12 6.86007 12 7.22673V11.3334C12 13.3334 11 14.6667 8.66667 14.6667H3.33333C1 14.6667 0 13.3334 0 11.3334V7.22673C0 6.86007 0.3 6.56006 0.666667 6.56006ZM4.10667 12.1682C4.11778 12.1586 4.12889 12.149 4.14 12.1401C4.26 12.0134 4.33333 11.8401 4.33333 11.6667C4.33333 11.4934 4.26 11.3201 4.14 11.1934L4.04 11.1134C4 11.0867 3.96 11.0667 3.92 11.0534C3.88 11.0334 3.84 11.0201 3.8 11.0134C3.66667 10.9867 3.53333 11.0001 3.41333 11.0534C3.32667 11.0867 3.26 11.1334 3.19333 11.1934C3.07333 11.3201 3 11.4934 3 11.6667C3 11.8401 3.07333 12.0134 3.19333 12.1401C3.26 12.2001 3.32667 12.2467 3.41333 12.2801C3.49333 12.3134 3.58 12.3334 3.66667 12.3334C3.70808 12.3334 3.74425 12.3281 3.78448 12.3223C3.78958 12.3216 3.79475 12.3208 3.8 12.3201C3.84 12.3134 3.88 12.3001 3.92 12.2801C3.96 12.2667 4 12.2467 4.04 12.2201C4.06222 12.2067 4.08445 12.1875 4.10667 12.1682ZM3.66667 10.0001C3.84 10.0001 4.01333 9.92673 4.14 9.80673C4.26 9.68007 4.33333 9.50673 4.33333 9.3334C4.33333 9.16007 4.26 8.98673 4.14 8.86007C4.08 8.80007 4.00667 8.7534 3.92 8.72007C3.67333 8.6134 3.38 8.6734 3.19333 8.86007C3.07333 8.98673 3 9.16007 3 9.3334C3 9.50673 3.07333 9.68007 3.19333 9.80673C3.32 9.92673 3.49333 10.0001 3.66667 10.0001ZM6 12.3334C6.17333 12.3334 6.34667 12.2601 6.47333 12.1401C6.59333 12.0134 6.66667 11.8401 6.66667 11.6667C6.66667 11.4934 6.59333 11.3201 6.47333 11.1934C6.22667 10.9467 5.77333 10.9467 5.52667 11.1934C5.40667 11.3201 5.33333 11.4934 5.33333 11.6667C5.33333 11.8401 5.40667 12.0134 5.52667 12.1401C5.65333 12.2601 5.82667 12.3334 6 12.3334ZM6.37333 9.88673L6.47333 9.80673C6.59333 9.68007 6.66667 9.50673 6.66667 9.3334C6.66667 9.16007 6.59333 8.98673 6.47333 8.86007C6.28667 8.6734 5.99333 8.6134 5.74667 8.72007C5.66 8.7534 5.58667 8.80007 5.52667 8.86007C5.40667 8.98673 5.33333 9.16007 5.33333 9.3334C5.33333 9.50673 5.40667 9.68007 5.52667 9.80673C5.65333 9.92673 5.82667 10.0001 6 10.0001C6.04141 10.0001 6.07757 9.99482 6.1178 9.98897C6.12291 9.98823 6.12808 9.98748 6.13333 9.98673C6.17333 9.98007 6.21333 9.96673 6.25333 9.94673C6.29333 9.9334 6.33333 9.9134 6.37333 9.88673ZM8.33333 12.3334C8.50667 12.3334 8.68 12.2601 8.80667 12.1401C8.92667 12.0134 9 11.8401 9 11.6667C9 11.4934 8.92667 11.3201 8.80667 11.1934C8.56 10.9467 8.10667 10.9467 7.86 11.1934C7.74 11.3201 7.66667 11.4934 7.66667 11.6667C7.66667 11.8401 7.74 12.0134 7.86 12.1401C7.98667 12.2601 8.16 12.3334 8.33333 12.3334ZM8.70667 9.88673L8.80667 9.80673C8.92667 9.68007 9 9.50673 9 9.3334C9 9.16007 8.92667 8.98673 8.80667 8.86007L8.70667 8.78007C8.66667 8.7534 8.62667 8.7334 8.58667 8.72007C8.54667 8.70007 8.50667 8.68673 8.46667 8.68007C8.33333 8.6534 8.2 8.66673 8.08 8.72007C7.99333 8.7534 7.92667 8.80007 7.86 8.86007C7.74 8.98673 7.66667 9.16007 7.66667 9.3334C7.66667 9.50673 7.74 9.68007 7.86 9.80673C7.98667 9.92673 8.16 10.0001 8.33333 10.0001C8.37333 10.0001 8.41998 9.9934 8.46664 9.98674L8.46667 9.98673C8.50667 9.98007 8.54667 9.96673 8.58667 9.94673C8.62667 9.9334 8.66667 9.9134 8.70667 9.88673Z" fill="url(#paint0_linear_465_766)" style=""/>
                                                <defs>
                                                <linearGradient id="paint0_linear_465_766" x1="2.38428" y1="0.294538" x2="-4.67841" y2="8.99295" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 12 тижнів

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-3.webp" srcset="img/program-img-3@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати

                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Загальні навчальні програми для жінок
                                ul.program-card__list.program-card__list--cols
                                    li.program-card__list-item Програма тренувань для тренажерного залу
                                    li.program-card__list-item Програма домашніх тренувань
                                    li.program-card__list-item Харчування
                                    li.program-card__list-item Плани харчування
                                    li.program-card__list-item Посібник з добавок
                                    li.program-card__list-item Доступ на 3 місяці

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 100$

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-4.webp" srcset="img/program-img-4@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати
                        
                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Загальні тренувальні програми для чоловіків
                                ul.program-card__list.program-card__list--cols
                                    li.program-card__list-item Програма тренувань для тренажерного залу
                                    li.program-card__list-item Програма домашніх тренувань
                                    li.program-card__list-item Харчування
                                    li.program-card__list-item Плани харчування
                                    li.program-card__list-item Посібник з добавок
                                    li.program-card__list-item Доступ на 3 місяці

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 100$

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-5.webp" srcset="img/program-img-5@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати

                    .swiper-scrollbar.programs-slider__scrollbar

            .tabs-panel
                .swiper.programs-slider
                    .swiper-wrapper
                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Срібний пакет програми для жиму лежачи
                                ul.program-card__list
                                    li.program-card__list-item Аналіз попередніх результатів
                                    li.program-card__list-item Рекомендація щодо дієти
                                    li.program-card__list-item Програма навчання на 8 тижнів
                                    li.program-card__list-item Питання та відповіді з чемпіоном

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 75$

                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 1.3335V2.3735C10.9666 2.54016 11.84 3.6135 11.9733 5.20683C11.9933 5.3935 11.8333 5.56016 11.64 5.56016H0.35999C0.173323 5.56016 0.0133234 5.40016 0.0266567 5.20683C0.15999 3.6135 1.03332 2.54016 2.83332 2.3735V1.3335C2.83332 1.06016 3.05999 0.833496 3.33332 0.833496C3.60666 0.833496 3.83332 1.06016 3.83332 1.3335V2.3335H8.16664V1.3335C8.16664 1.06016 8.3933 0.833496 8.66664 0.833496C8.93997 0.833496 9.16664 1.06016 9.16664 1.3335ZM0.666667 6.56006H11.3333C11.7 6.56006 12 6.86007 12 7.22673V11.3334C12 13.3334 11 14.6667 8.66667 14.6667H3.33333C1 14.6667 0 13.3334 0 11.3334V7.22673C0 6.86007 0.3 6.56006 0.666667 6.56006ZM4.10667 12.1682C4.11778 12.1586 4.12889 12.149 4.14 12.1401C4.26 12.0134 4.33333 11.8401 4.33333 11.6667C4.33333 11.4934 4.26 11.3201 4.14 11.1934L4.04 11.1134C4 11.0867 3.96 11.0667 3.92 11.0534C3.88 11.0334 3.84 11.0201 3.8 11.0134C3.66667 10.9867 3.53333 11.0001 3.41333 11.0534C3.32667 11.0867 3.26 11.1334 3.19333 11.1934C3.07333 11.3201 3 11.4934 3 11.6667C3 11.8401 3.07333 12.0134 3.19333 12.1401C3.26 12.2001 3.32667 12.2467 3.41333 12.2801C3.49333 12.3134 3.58 12.3334 3.66667 12.3334C3.70808 12.3334 3.74425 12.3281 3.78448 12.3223C3.78958 12.3216 3.79475 12.3208 3.8 12.3201C3.84 12.3134 3.88 12.3001 3.92 12.2801C3.96 12.2667 4 12.2467 4.04 12.2201C4.06222 12.2067 4.08445 12.1875 4.10667 12.1682ZM3.66667 10.0001C3.84 10.0001 4.01333 9.92673 4.14 9.80673C4.26 9.68007 4.33333 9.50673 4.33333 9.3334C4.33333 9.16007 4.26 8.98673 4.14 8.86007C4.08 8.80007 4.00667 8.7534 3.92 8.72007C3.67333 8.6134 3.38 8.6734 3.19333 8.86007C3.07333 8.98673 3 9.16007 3 9.3334C3 9.50673 3.07333 9.68007 3.19333 9.80673C3.32 9.92673 3.49333 10.0001 3.66667 10.0001ZM6 12.3334C6.17333 12.3334 6.34667 12.2601 6.47333 12.1401C6.59333 12.0134 6.66667 11.8401 6.66667 11.6667C6.66667 11.4934 6.59333 11.3201 6.47333 11.1934C6.22667 10.9467 5.77333 10.9467 5.52667 11.1934C5.40667 11.3201 5.33333 11.4934 5.33333 11.6667C5.33333 11.8401 5.40667 12.0134 5.52667 12.1401C5.65333 12.2601 5.82667 12.3334 6 12.3334ZM6.37333 9.88673L6.47333 9.80673C6.59333 9.68007 6.66667 9.50673 6.66667 9.3334C6.66667 9.16007 6.59333 8.98673 6.47333 8.86007C6.28667 8.6734 5.99333 8.6134 5.74667 8.72007C5.66 8.7534 5.58667 8.80007 5.52667 8.86007C5.40667 8.98673 5.33333 9.16007 5.33333 9.3334C5.33333 9.50673 5.40667 9.68007 5.52667 9.80673C5.65333 9.92673 5.82667 10.0001 6 10.0001C6.04141 10.0001 6.07757 9.99482 6.1178 9.98897C6.12291 9.98823 6.12808 9.98748 6.13333 9.98673C6.17333 9.98007 6.21333 9.96673 6.25333 9.94673C6.29333 9.9334 6.33333 9.9134 6.37333 9.88673ZM8.33333 12.3334C8.50667 12.3334 8.68 12.2601 8.80667 12.1401C8.92667 12.0134 9 11.8401 9 11.6667C9 11.4934 8.92667 11.3201 8.80667 11.1934C8.56 10.9467 8.10667 10.9467 7.86 11.1934C7.74 11.3201 7.66667 11.4934 7.66667 11.6667C7.66667 11.8401 7.74 12.0134 7.86 12.1401C7.98667 12.2601 8.16 12.3334 8.33333 12.3334ZM8.70667 9.88673L8.80667 9.80673C8.92667 9.68007 9 9.50673 9 9.3334C9 9.16007 8.92667 8.98673 8.80667 8.86007L8.70667 8.78007C8.66667 8.7534 8.62667 8.7334 8.58667 8.72007C8.54667 8.70007 8.50667 8.68673 8.46667 8.68007C8.33333 8.6534 8.2 8.66673 8.08 8.72007C7.99333 8.7534 7.92667 8.80007 7.86 8.86007C7.74 8.98673 7.66667 9.16007 7.66667 9.3334C7.66667 9.50673 7.74 9.68007 7.86 9.80673C7.98667 9.92673 8.16 10.0001 8.33333 10.0001C8.37333 10.0001 8.41998 9.9934 8.46664 9.98674L8.46667 9.98673C8.50667 9.98007 8.54667 9.96673 8.58667 9.94673C8.62667 9.9334 8.66667 9.9134 8.70667 9.88673Z" fill="url(#paint0_linear_465_766)" style=""/>
                                                <defs>
                                                <linearGradient id="paint0_linear_465_766" x1="2.38428" y1="0.294538" x2="-4.67841" y2="8.99295" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 8 тижнів

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-1.webp" srcset="img/program-img-1@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати

                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Жим лежачи
                                ul.program-card__list.program-card__list--cols
                                    li.program-card__list-item Аналіз попередніх результатів
                                    li.program-card__list-item Рекомендація щодо дієти
                                    li.program-card__list-item 12 тижнева програма навчання
                                    li.program-card__list-item Програма спортивного харчування
                                    li.program-card__list-item Аналіз результатів
                                    li.program-card__list-item Питання та відповіді з чемпіоном

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 125$

                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 1.3335V2.3735C10.9666 2.54016 11.84 3.6135 11.9733 5.20683C11.9933 5.3935 11.8333 5.56016 11.64 5.56016H0.35999C0.173323 5.56016 0.0133234 5.40016 0.0266567 5.20683C0.15999 3.6135 1.03332 2.54016 2.83332 2.3735V1.3335C2.83332 1.06016 3.05999 0.833496 3.33332 0.833496C3.60666 0.833496 3.83332 1.06016 3.83332 1.3335V2.3335H8.16664V1.3335C8.16664 1.06016 8.3933 0.833496 8.66664 0.833496C8.93997 0.833496 9.16664 1.06016 9.16664 1.3335ZM0.666667 6.56006H11.3333C11.7 6.56006 12 6.86007 12 7.22673V11.3334C12 13.3334 11 14.6667 8.66667 14.6667H3.33333C1 14.6667 0 13.3334 0 11.3334V7.22673C0 6.86007 0.3 6.56006 0.666667 6.56006ZM4.10667 12.1682C4.11778 12.1586 4.12889 12.149 4.14 12.1401C4.26 12.0134 4.33333 11.8401 4.33333 11.6667C4.33333 11.4934 4.26 11.3201 4.14 11.1934L4.04 11.1134C4 11.0867 3.96 11.0667 3.92 11.0534C3.88 11.0334 3.84 11.0201 3.8 11.0134C3.66667 10.9867 3.53333 11.0001 3.41333 11.0534C3.32667 11.0867 3.26 11.1334 3.19333 11.1934C3.07333 11.3201 3 11.4934 3 11.6667C3 11.8401 3.07333 12.0134 3.19333 12.1401C3.26 12.2001 3.32667 12.2467 3.41333 12.2801C3.49333 12.3134 3.58 12.3334 3.66667 12.3334C3.70808 12.3334 3.74425 12.3281 3.78448 12.3223C3.78958 12.3216 3.79475 12.3208 3.8 12.3201C3.84 12.3134 3.88 12.3001 3.92 12.2801C3.96 12.2667 4 12.2467 4.04 12.2201C4.06222 12.2067 4.08445 12.1875 4.10667 12.1682ZM3.66667 10.0001C3.84 10.0001 4.01333 9.92673 4.14 9.80673C4.26 9.68007 4.33333 9.50673 4.33333 9.3334C4.33333 9.16007 4.26 8.98673 4.14 8.86007C4.08 8.80007 4.00667 8.7534 3.92 8.72007C3.67333 8.6134 3.38 8.6734 3.19333 8.86007C3.07333 8.98673 3 9.16007 3 9.3334C3 9.50673 3.07333 9.68007 3.19333 9.80673C3.32 9.92673 3.49333 10.0001 3.66667 10.0001ZM6 12.3334C6.17333 12.3334 6.34667 12.2601 6.47333 12.1401C6.59333 12.0134 6.66667 11.8401 6.66667 11.6667C6.66667 11.4934 6.59333 11.3201 6.47333 11.1934C6.22667 10.9467 5.77333 10.9467 5.52667 11.1934C5.40667 11.3201 5.33333 11.4934 5.33333 11.6667C5.33333 11.8401 5.40667 12.0134 5.52667 12.1401C5.65333 12.2601 5.82667 12.3334 6 12.3334ZM6.37333 9.88673L6.47333 9.80673C6.59333 9.68007 6.66667 9.50673 6.66667 9.3334C6.66667 9.16007 6.59333 8.98673 6.47333 8.86007C6.28667 8.6734 5.99333 8.6134 5.74667 8.72007C5.66 8.7534 5.58667 8.80007 5.52667 8.86007C5.40667 8.98673 5.33333 9.16007 5.33333 9.3334C5.33333 9.50673 5.40667 9.68007 5.52667 9.80673C5.65333 9.92673 5.82667 10.0001 6 10.0001C6.04141 10.0001 6.07757 9.99482 6.1178 9.98897C6.12291 9.98823 6.12808 9.98748 6.13333 9.98673C6.17333 9.98007 6.21333 9.96673 6.25333 9.94673C6.29333 9.9334 6.33333 9.9134 6.37333 9.88673ZM8.33333 12.3334C8.50667 12.3334 8.68 12.2601 8.80667 12.1401C8.92667 12.0134 9 11.8401 9 11.6667C9 11.4934 8.92667 11.3201 8.80667 11.1934C8.56 10.9467 8.10667 10.9467 7.86 11.1934C7.74 11.3201 7.66667 11.4934 7.66667 11.6667C7.66667 11.8401 7.74 12.0134 7.86 12.1401C7.98667 12.2601 8.16 12.3334 8.33333 12.3334ZM8.70667 9.88673L8.80667 9.80673C8.92667 9.68007 9 9.50673 9 9.3334C9 9.16007 8.92667 8.98673 8.80667 8.86007L8.70667 8.78007C8.66667 8.7534 8.62667 8.7334 8.58667 8.72007C8.54667 8.70007 8.50667 8.68673 8.46667 8.68007C8.33333 8.6534 8.2 8.66673 8.08 8.72007C7.99333 8.7534 7.92667 8.80007 7.86 8.86007C7.74 8.98673 7.66667 9.16007 7.66667 9.3334C7.66667 9.50673 7.74 9.68007 7.86 9.80673C7.98667 9.92673 8.16 10.0001 8.33333 10.0001C8.37333 10.0001 8.41998 9.9934 8.46664 9.98674L8.46667 9.98673C8.50667 9.98007 8.54667 9.96673 8.58667 9.94673C8.62667 9.9334 8.66667 9.9134 8.70667 9.88673Z" fill="url(#paint0_linear_465_766)" style=""/>
                                                <defs>
                                                <linearGradient id="paint0_linear_465_766" x1="2.38428" y1="0.294538" x2="-4.67841" y2="8.99295" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 12 тижнів

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-2.webp" srcset="img/program-img-2@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати

                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Повна підготовка до змагань за пауерліфтинговою програмою
                                ul.program-card__list.program-card__list--cols
                                    li.program-card__list-item Аналіз попередніх результатів
                                    li.program-card__list-item Рекомендація щодо дієти
                                    li.program-card__list-item 12 тижнева програма навчання
                                    li.program-card__list-item Програма спортивного харчування
                                    li.program-card__list-item Аналіз результатів
                                    li.program-card__list-item Питання та відповіді з чемпіоном

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 150$

                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 1.3335V2.3735C10.9666 2.54016 11.84 3.6135 11.9733 5.20683C11.9933 5.3935 11.8333 5.56016 11.64 5.56016H0.35999C0.173323 5.56016 0.0133234 5.40016 0.0266567 5.20683C0.15999 3.6135 1.03332 2.54016 2.83332 2.3735V1.3335C2.83332 1.06016 3.05999 0.833496 3.33332 0.833496C3.60666 0.833496 3.83332 1.06016 3.83332 1.3335V2.3335H8.16664V1.3335C8.16664 1.06016 8.3933 0.833496 8.66664 0.833496C8.93997 0.833496 9.16664 1.06016 9.16664 1.3335ZM0.666667 6.56006H11.3333C11.7 6.56006 12 6.86007 12 7.22673V11.3334C12 13.3334 11 14.6667 8.66667 14.6667H3.33333C1 14.6667 0 13.3334 0 11.3334V7.22673C0 6.86007 0.3 6.56006 0.666667 6.56006ZM4.10667 12.1682C4.11778 12.1586 4.12889 12.149 4.14 12.1401C4.26 12.0134 4.33333 11.8401 4.33333 11.6667C4.33333 11.4934 4.26 11.3201 4.14 11.1934L4.04 11.1134C4 11.0867 3.96 11.0667 3.92 11.0534C3.88 11.0334 3.84 11.0201 3.8 11.0134C3.66667 10.9867 3.53333 11.0001 3.41333 11.0534C3.32667 11.0867 3.26 11.1334 3.19333 11.1934C3.07333 11.3201 3 11.4934 3 11.6667C3 11.8401 3.07333 12.0134 3.19333 12.1401C3.26 12.2001 3.32667 12.2467 3.41333 12.2801C3.49333 12.3134 3.58 12.3334 3.66667 12.3334C3.70808 12.3334 3.74425 12.3281 3.78448 12.3223C3.78958 12.3216 3.79475 12.3208 3.8 12.3201C3.84 12.3134 3.88 12.3001 3.92 12.2801C3.96 12.2667 4 12.2467 4.04 12.2201C4.06222 12.2067 4.08445 12.1875 4.10667 12.1682ZM3.66667 10.0001C3.84 10.0001 4.01333 9.92673 4.14 9.80673C4.26 9.68007 4.33333 9.50673 4.33333 9.3334C4.33333 9.16007 4.26 8.98673 4.14 8.86007C4.08 8.80007 4.00667 8.7534 3.92 8.72007C3.67333 8.6134 3.38 8.6734 3.19333 8.86007C3.07333 8.98673 3 9.16007 3 9.3334C3 9.50673 3.07333 9.68007 3.19333 9.80673C3.32 9.92673 3.49333 10.0001 3.66667 10.0001ZM6 12.3334C6.17333 12.3334 6.34667 12.2601 6.47333 12.1401C6.59333 12.0134 6.66667 11.8401 6.66667 11.6667C6.66667 11.4934 6.59333 11.3201 6.47333 11.1934C6.22667 10.9467 5.77333 10.9467 5.52667 11.1934C5.40667 11.3201 5.33333 11.4934 5.33333 11.6667C5.33333 11.8401 5.40667 12.0134 5.52667 12.1401C5.65333 12.2601 5.82667 12.3334 6 12.3334ZM6.37333 9.88673L6.47333 9.80673C6.59333 9.68007 6.66667 9.50673 6.66667 9.3334C6.66667 9.16007 6.59333 8.98673 6.47333 8.86007C6.28667 8.6734 5.99333 8.6134 5.74667 8.72007C5.66 8.7534 5.58667 8.80007 5.52667 8.86007C5.40667 8.98673 5.33333 9.16007 5.33333 9.3334C5.33333 9.50673 5.40667 9.68007 5.52667 9.80673C5.65333 9.92673 5.82667 10.0001 6 10.0001C6.04141 10.0001 6.07757 9.99482 6.1178 9.98897C6.12291 9.98823 6.12808 9.98748 6.13333 9.98673C6.17333 9.98007 6.21333 9.96673 6.25333 9.94673C6.29333 9.9334 6.33333 9.9134 6.37333 9.88673ZM8.33333 12.3334C8.50667 12.3334 8.68 12.2601 8.80667 12.1401C8.92667 12.0134 9 11.8401 9 11.6667C9 11.4934 8.92667 11.3201 8.80667 11.1934C8.56 10.9467 8.10667 10.9467 7.86 11.1934C7.74 11.3201 7.66667 11.4934 7.66667 11.6667C7.66667 11.8401 7.74 12.0134 7.86 12.1401C7.98667 12.2601 8.16 12.3334 8.33333 12.3334ZM8.70667 9.88673L8.80667 9.80673C8.92667 9.68007 9 9.50673 9 9.3334C9 9.16007 8.92667 8.98673 8.80667 8.86007L8.70667 8.78007C8.66667 8.7534 8.62667 8.7334 8.58667 8.72007C8.54667 8.70007 8.50667 8.68673 8.46667 8.68007C8.33333 8.6534 8.2 8.66673 8.08 8.72007C7.99333 8.7534 7.92667 8.80007 7.86 8.86007C7.74 8.98673 7.66667 9.16007 7.66667 9.3334C7.66667 9.50673 7.74 9.68007 7.86 9.80673C7.98667 9.92673 8.16 10.0001 8.33333 10.0001C8.37333 10.0001 8.41998 9.9934 8.46664 9.98674L8.46667 9.98673C8.50667 9.98007 8.54667 9.96673 8.58667 9.94673C8.62667 9.9334 8.66667 9.9134 8.70667 9.88673Z" fill="url(#paint0_linear_465_766)" style=""/>
                                                <defs>
                                                <linearGradient id="paint0_linear_465_766" x1="2.38428" y1="0.294538" x2="-4.67841" y2="8.99295" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 12 тижнів

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-3.webp" srcset="img/program-img-3@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати

                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Загальні навчальні програми для жінок
                                ul.program-card__list.program-card__list--cols
                                    li.program-card__list-item Програма тренувань для тренажерного залу
                                    li.program-card__list-item Програма домашніх тренувань
                                    li.program-card__list-item Харчування
                                    li.program-card__list-item Плани харчування
                                    li.program-card__list-item Посібник з добавок
                                    li.program-card__list-item Доступ на 3 місяці

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 100$

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-4.webp" srcset="img/program-img-4@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати
                        
                        .swiper-slide.programs-slider__slide
                            .program-card
                                h3.program-card__title Загальні тренувальні програми для чоловіків
                                ul.program-card__list.program-card__list--cols
                                    li.program-card__list-item Програма тренувань для тренажерного залу
                                    li.program-card__list-item Програма домашніх тренувань
                                    li.program-card__list-item Харчування
                                    li.program-card__list-item Плани харчування
                                    li.program-card__list-item Посібник з добавок
                                    li.program-card__list-item Доступ на 3 місяці

                                .program-card__bottom
                                    ul.program-card__info
                                        li.program-card__info-item
                                            <svg class="program-card__info-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.80518 10.8051L2.80533 10.8049C2.80528 10.805 2.80523 10.805 2.80518 10.8051ZM2.80518 10.8051C2.80507 10.8052 2.80496 10.8053 2.80485 10.8054L2.63151 10.6321L2.5694 10.5699M2.80518 10.8051L2.80485 10.8054L2.63141 10.6319L2.5694 10.5699M2.5694 10.5699C2.56951 10.5698 2.56962 10.5697 2.56973 10.5696H2.09775C2.16309 10.6343 2.2484 10.667 2.33374 10.667C2.41894 10.667 2.5041 10.6344 2.5694 10.5699ZM10.3338 1.27654L13.4153 4.35801C13.1618 4.40635 12.9197 4.52857 12.7236 4.72469L11.3903 6.05799C10.8698 6.57851 10.8698 7.42301 11.3903 7.94353L11.3903 7.94354L11.3939 7.94708C11.5883 8.13956 11.8293 8.26131 12.0817 8.30979L10.8956 9.49587C11.0314 9.06923 11.0361 8.61552 10.9552 8.198C10.8149 7.47402 10.4111 6.76558 9.83073 6.18548C9.30061 5.65464 8.63681 5.25073 7.93252 5.08607L7.93243 5.08604C7.45174 4.97371 6.94304 4.97428 6.4772 5.13312L10.3338 1.27654ZM9.49689 10.8946L5.66762 14.7239L2.5865 11.6428C2.83862 11.5941 3.07908 11.4724 3.27309 11.2805L3.2731 11.2805L3.27683 11.2767L4.61013 9.94347L4.612 9.94159C5.13161 9.41923 5.12839 8.57692 4.60956 8.05797L4.60948 8.05789C4.41364 7.86205 4.17195 7.73989 3.9189 7.69142L5.13392 6.4764C4.97485 6.94216 4.97371 7.45079 5.08563 7.93173L5.08586 7.93268C5.25066 8.63772 5.65574 9.30139 6.18513 9.83078C6.89909 10.5454 7.82888 11.009 8.74617 11.009C8.99664 11.009 9.25132 10.9733 9.49689 10.8946Z" fill="url(#paint0_linear_171_1068)" stroke="url(#paint1_linear_171_1068)" style="" stroke-width="2"/>
                                                <defs>
                                                <linearGradient id="paint0_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_171_1068" x1="3.17984" y1="-0.622875" x2="-4.67924" y2="10.5347" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#EBD67D" style="stop-color:#EBD67D;stop-color:color(display-p3 0.9216 0.8392 0.4902);stop-opacity:1;"/>
                                                <stop offset="0.512262" stop-color="#FEF79F" style="stop-color:#FEF79F;stop-color:color(display-p3 0.9961 0.9686 0.6235);stop-opacity:1;"/>
                                                <stop offset="1" stop-color="#B08831" style="stop-color:#B08831;stop-color:color(display-p3 0.6902 0.5333 0.1922);stop-opacity:1;"/>
                                                </linearGradient>
                                                </defs>
                                            </svg>

                                            span 100$

                                    picture.program-card__picture
                                        img.program-card__img(src="img/program-img-5.webp" srcset="img/program-img-5@2x.webp 2x" loading="lazy" width="336" height="185" alt="alt")

                                    a.button.program-card__button(href="#") Обрати

                    .swiper-scrollbar.programs-slider__scrollbar

        
