section.why-section#why-section
    picture.why-section__bg-right
        img.why-section__bg-right-img(src="img/paper-bg-right.webp" srcset="img/paper-bg-right@2x.webp 2x" loading="lazy" width="398" height="504" alt="alt")

    .container.why-section__container
        header.section-header.why-section__header
            h2.section-header__bg-title.animation-down Навіщо це тобі
            h3.section-header__title.animation-down(data-delay="0.2") Мої програми допоможуть 
                span.gold-color.br змінити твоє життя

        ul.why-section__list
            li.why-section__item.animation-down(data-delay="0.2")
                .why-card
                    .why-card__pic
                        svg.why-card__icon(width="68" height="62")
                            use(xlink:href="img/sprite.svg#why-icon-1")

                    h4.why-card__title Зруйнують усі стереотипи і впевнено станешь сильнішим
            
            li.why-section__item.animation-down(data-delay="0.3")
                .why-card
                    .why-card__pic
                        svg.why-card__icon(width="66" height="67")
                            use(xlink:href="img/sprite.svg#why-icon-2")

                    h4.why-card__title Уроки самодисципліни, завершившишь цикли переїдання
            
            li.why-section__item.animation-down(data-delay="0.4")
                .why-card
                    .why-card__pic
                        svg.why-card__icon(width="68" height="62")
                            use(xlink:href="img/sprite.svg#why-icon-3")

                    h4.why-card__title Сила у підтримці, почуватимешся впевнено та легко
            
            li.why-section__item.animation-down(data-delay="0.5")
                .why-card
                    .why-card__pic
                        svg.why-card__icon(width="68" height="68")
                            use(xlink:href="img/sprite.svg#why-icon-4")

                    h4.why-card__title Потужна мотивація, зарядишся енергією на кожен день
            
            li.why-section__item.animation-down(data-delay="0.6")
                .why-card
                    .why-card__pic
                        svg.why-card__icon(width="68" height="68")
                            use(xlink:href="img/sprite.svg#why-icon-5")

                    h4.why-card__title Секрети правильного харчування за новою методикою
            
            li.why-section__item.animation-down(data-delay="0.7")
                .why-card
                    .why-card__pic
                        svg.why-card__icon(width="62" height="54")
                            use(xlink:href="img/sprite.svg#why-icon-6")

                    h4.why-card__title Ефективні тренування без зайвих витрат часу та грошей